<%- include('partials/header') %>

<h1>Home</h1>
<p><%=homeStartingContent %></p>

<!-- <% for(let i=0;i<posts.length;i++){ %>
    <h1> <%=posts[i].blogPostTttle %> </h1>         Another way of doing
    <p> <%=posts[i]. blogPostBody %> </p> 

<% } %> -->

<%  posts.forEach((post)=>{  %>

    <h1> <%=post.blogPostTttle %> </h1> 
    <p> <%=post.blogPostBody.substring(0, 100) + "..." %> <a href="/posts/<%=post.blogPostTttle%>" >Read More</a> </p> 

 <% }) %>

<%- include('partials/footer') %>